@import './colors.styl';

#people-list
  .person
    display inline-block
    width 25%
    margin-bottom 40px
    vertical-align top

    *
      display block
      margin 0 auto

    img
      width 100px
      height 100px
      filter grayscale(100%)      
      // border-radius 100%
      border 2px solid theme-gold


      @media (max-width: 479px)
        width 80%
        height 80%

    .person-info
      margin 1em 0 0.3em 0

    .person-name, .person-title, .person-email, .person-twitter
      text-align center

    .person-name, .person-title
      // color theme-gold
      font-size 0.9em
      line-height 1.5em
    .person-email, .person-twitter
      font-size 0.9em
      color black
